.cursor {
    border-left: 2px solid rgb(171, 171, 89);
}

.my-cursor {
    width: 2px !important;
}

.cursor-hover {
    position: absolute;
    top: -19px;
    border-radius: 7px;
    border-bottom-left-radius: 0;
    padding: 0 5px;
    z-index: 10000000000;
}